@import "./common";

.footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $secondary-one;
  padding: 50px 0;
  .container {
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      img {
        width: 400px;
        height: auto;
      }
    }
    .flex-wrapper {
      width: 100%;
      .left {
        flex: 1;
        text-align: center;
      }
      .mid {
        flex: 1;
        text-align: center;
      }
      .right {
        flex: 1;
        text-align: center;
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        a {
          li {
            font-size: 18px;
          }
        }
      }
      h6 {
        color: $primary-one;
        font-size: 28px;
        position: relative;
        display: inline;
        padding-bottom: 15px;
      }
      h6::after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 3px;
        background-color: $complemantory-color;
      }
    }
    .bt-tag {
      display: flex;
      justify-content: center;
      color: $primary-one;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 50px;
      font-weight: 500;
      opacity: 0.5;
    }
  }
}

/*Desktop or Larger Pc View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
  .footer {
    .container {
      .logo {
        padding-top: 50px;
        img {
          width: 500px;
        }
      }
      .flex-wrapper {
        width: 100%;
        .left {
          flex: 1;
          text-align: center;
        }
        .mid {
          flex: 1;
          text-align: center;
        }
        .right {
          flex: 1;
          text-align: center;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 50px;
          margin-top: 50px;
          a {
            li {
              font-size: 28px;
            }
          }
        }
        h6 {
          color: $primary-one;
          font-size: 28px;
          position: relative;
          display: inline;
          padding-bottom: 15px;
        }
        h6::after {
          content: "";
          position: absolute;
          bottom: 0%;
          left: 0%;
          width: 100%;
          height: 3px;
          background-color: $complemantory-color;
        }
      }
      .bt-tag {
        display: flex;
        justify-content: center;
        color: $primary-one;
        font-size: 20px;
        letter-spacing: 1px;
        margin-top: 50px;
        font-weight: 500;
        opacity: 0.5;
        padding: 50px 0;
      }
    }
  }
}
