@import './common';
@import './header';

.bg-section{
    width: 100%;
    height: 100vh;
    background-color: $secondary-one;
    color: $primary-one;
}

//header opens
.nav {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $secondary-one;
    transform: translateX(100%);
    transition: 0.5s ease;

    .container {
      padding: 70px 0 80px;
      .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        img {
          width: 400px;
          height: auto;
        }
      }
      .flex-wrapper {
        width: 100%;
        .left {
          flex: 1;
          text-align: center;
        }
        .mid {
          flex: 1;
          text-align: center;
        }
        .right {
          flex: 1;
          text-align: center;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-top: 50px;
          a {
            li {
              font-size: 18px;
            }
          }
        }
        h6 {
          color: $primary-one;
          font-size: 28px;
          position: relative;
          display: inline;
          padding-bottom: 15px;
        }
        h6::after {
          content: "";
          position: absolute;
          bottom: 0%;
          left: 0%;
          width: 100%;
          height: 3px;
          background-color: $complemantory-color;
        }
      }
      .bt-tag {
        display: flex;
        justify-content: center;
        color: $primary-one;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 50px;
        font-weight: 500;
        opacity: 0.5;
      }
    }
  }
  .nav.open {
    z-index: 10;
    transform: translateX(0%);
    transition: 0.5s ease;
  }